@using Microsoft.AspNetCore.Identity
@inject SignInManager<Customer> SignInManager
@inject UserManager<Customer> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - GamingStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<header>
    <div class="top_bar">
        <div class="container">
            <div class="row">
                <div class="col d-flex flex-row">
                    <ul class="top_bar_contact_item">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Manage
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" asp-controller="Administration" asp-action="ListUsers">Users</a>
                                <a class="dropdown-item" asp-controller="Administration" asp-action="ListRoles">Roles</a>
                            </div>
                        </li>
                    </ul>
                    <ul class="top_bar_contact_item">
                        <a class="top_bar_contact_item nav-link text-dark" asp-controller="Administration" asp-action="ListOrders">Orders</a>
                    </ul>
                    <ul class="top_bar_contact_item">
                        <a class="top_bar_contact_item nav-link text-dark" asp-controller="Administration" asp-action="ListItems">Products</a>
                    </ul>
                    <div class="ml-auto">
                        <partial name="_NewLoginPartial"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container d-flex justify-content-center" style="margin-top: 1%;">
    <main role="main" class="col-md-11">
        @RenderBody()
    </main>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/notifyjs/notify.min.js"></script>
<script type="text/javascript" src="/js/administration.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@RenderSection("Scripts", required: false)
</body>
</html>