@using GamingStore.Contracts
@model IEnumerable<GamingStore.Models.Store>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/store_style.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap" rel="stylesheet">
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVO7D0J75IZJhAcreAuPINi6xoDFnGUXg&callback=initMap"
            type="text/javascript"></script>
    <script>
        // Initialize and add the map
        function initMap() {
            // The location of Uluru
            const uluru = { lat: -25.344, lng: 131.036 };
            // The map, centered at Uluru
            const map = new google.maps.Map(document.getElementsByClassName("store_map")[0],
                {
                    zoom: 4,
                    center: uluru,
                });

            // The marker, positioned at Uluru
            const marker = new google.maps.Marker({
                position: uluru,
                map: map,
            });
        }
    </script>
</head>
<div class="store_container">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="shop_content">
                    <ul class="list-group store_list">
                        @{
                            foreach (var store in Model)
                            {
                                <li class="list-group-item">
                                    <div class="store_title">
                                        <h2>
                                            @Html.DisplayFor(modelItem => store.Name)
                                        </h2>
                                    </div>
                                    <hr/>
                                    <div class="store_detail store_address">
                                        @{ var address = store.Address.ToString(); }
                                        @Html.DisplayFor(modelItem => address)
                                    </div>
                                    <div class="store_detail store_phonenumber">
                                        @Html.DisplayFor(modelItem => store.PhoneNumber)
                                    </div>
                                </li>
                            }
                        }
                    </ul>
                </div>

            </div>
            <div class="col-lg-7">
                <div class="store_map"></div>
            </div>
        </div>
    </div>
</div>