@model GamingStore.ViewModels.AdminStatsViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/administration_stats.css" />
</head>
<h2>Welcome to GamingStore's Admin Control Panel</h2>
<h3>Statistics</h3>
<svg width="600" height="500"></svg>

@section Scripts{
    
    <script src="/js/administration_stats.js"></script>
}