@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
    Layout = "_NewLoginLayout";
}

<div class="login-logo">
    <a asp-action="Index" asp-controller="Home">
        <img class="align-content" src="/images/logo.png" alt="">
    </a>
</div>

<div class="login-form">
    <h1>@ViewData["Title"]</h1>
</div>