@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = "_NewLoginLayout";
}

<div class="login-logo">
    <a asp-action="Index" asp-controller="Home">
        <img class="align-content" src="/images/logo.png" alt="">
    </a>
</div>
<div class="login-form">
    <form method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <h2>@ViewData["Title"]</h2>
            <p>Enter your email.</p>
            <hr />
            <label asp-for="Input.Email"></label>
            <input asp-for="Input.Email" class="form-control" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
