@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
    Layout = "~/Views/Shared/_NewLoginLayout.cshtml";
}

<div class="login-logo">
    <a asp-action="Index" asp-controller="Home">
        <img class="align-content" src="/images/logo.png" alt="">
    </a>
</div>

<div class="login-form">
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">This account has been locked out, please try again later.</p>
</div>