@using GamingStore.Contracts
@model GamingStore.ViewModels.Home.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/homepage_styles.css">
</head>
<body>

    <div class="characteristics">
        <div class="container">
            <div class="row">
                <!-- Char. Item -->
                <div class="col-lg-3 col-md-6 char_col">

                    <div class="char_item d-flex flex-row align-items-center justify-content-start" style="border-radius: 5%;">
                        <div class="char_icon"><img src="~/images/char_1.png" alt=""></div>
                        <div class="char_content">
                            <div class="char_title">Free Delivery</div>
                            <div class="char_subtitle">from $50</div>
                        </div>
                    </div>
                </div>

                <!-- Char. Item -->
                <div class="col-lg-3 col-md-6 char_col">

                    <div class="char_item d-flex flex-row align-items-center justify-content-start" style="border-radius: 5%;">
                        <div class="char_icon"><img src="~/images/char_2.png" alt=""></div>
                        <div class="char_content">
                            <div class="char_title">Great New Products</div>
                            <div class="char_subtitle" style="margin: 5px">Every Week</div>
                        </div>
                    </div>
                </div>

                <!-- Char. Item -->
                <div class="col-lg-3 col-md-6 char_col">

                    <div class="char_item d-flex flex-row align-items-center justify-content-start" style="border-radius: 5%;">
                        <div class="char_icon"><img src="~/images/char_3.png" alt=""></div>
                        <div class="char_content">
                            <div class="char_title" style="margin: 6px"> Cheapest Online Gaming Store </div>
                            <div class="char_subtitle" style="margin: 5px">Best Seller Store</div>
                        </div>
                    </div>
                </div>

                <!-- Char. Item -->
                <div class="col-lg-3 col-md-6 char_col">

                    <div class="char_item d-flex flex-row align-items-center justify-content-start" style="border-radius: 5%;">
                        <div class="char_icon"><img src="~/images/char_4.png" alt=""></div>
                        <div class="char_content">
                            <div class="char_title">Best Offers Every Day</div>
                            <div class="char_subtitle">Save Money</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if (Model != null && Model.Items.Any())
    {
        <div class="best_sellers" style="border-radius: 2%; margin-top: auto ;margin-bottom:5%">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="tabbed_container">
                            <div class="tabs clearfix tabs-right">
                                <div class="new_arrivals_title">Recommended Products</div>
                                <div class="tabs_line"></div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row" style="padding: 3%">
                    @for (int i = 0; i <= 2; i++)
                    {
                        <div class="col-lg-4 advert_col">

                            <!-- Advert Item -->

                            <div class="ml-item advert d-flex flex-row align-items-center justify-content-start" style="border-radius: 5%">
                                <div class="col-7">
                                    <div class="row">
                                        @{
                                            var a = Model.Items[i].Title.Split(' ');
                                            var counter = 0;
                                            var title = string.Empty;
                                            foreach (var tfii in a)
                                            {
                                                title += $"{tfii} ";
                                                counter++;
                                                if (counter == 4)
                                                {
                                                    break;
                                                }
                                            }
                                        }
                                        <div class="advert_title" style="margin-left:10%"><a href="/Items/Details?id=@Model.Items[i].Id">@title</a></div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="advert_price" style="margin:auto;font-size:20px">$@Model.Items[i].Price</div>
                                        <div></div>
                                    </div>
                                </div>
                                <div class="col-5" style="margin:auto">
                                    <div class="advert_image" style="max-height: 80%; max-width: 100%; margin: auto;"> <a href="/Items/Details?id=@Model.Items[i].Id"> <img src="/@Model.Items[i].ImageUrl/1.jpg" alt=""> </a></div>
                                </div>
                            </div>

                        </div>
                    }
                </div>

                <div class="row" style="padding:3%">
                    @for (int i = 3; i <= 5; i++)
                    {
                        <div class="col-lg-4 advert_col">

                            <!-- Advert Item -->

                            <div class="ml-item advert d-flex flex-row align-items-center justify-content-start" style="border-radius: 5%">
                                <div class="col-7">
                                    <div class="row">
                                        @{
                                            var a = Model.Items[i].Title.Split(' ');
                                            var counter = 0;
                                            var title = string.Empty;
                                            foreach (var tfii in a)
                                            {
                                                title += $"{tfii} ";
                                                counter++;
                                                if (counter == 4)
                                                {
                                                    break;
                                                }
                                            }
                                        }
                                        <div class="advert_title" style="margin-left:10%"><a href="/Items/Details?id=@Model.Items[i].Id">@title</a></div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="advert_price" style="margin: auto;font-size:20px">$@Model.Items[i].Price</div>
                                        <div></div>
                                    </div>
                                </div>
                                <div class="col-5" style="margin:auto">
                                    <div class="advert_image" style="max-height: 80%; max-width: 100%; margin: auto;"> <a href="/Items/Details?id=@Model.Items[i].Id"> <img src="/@Model.Items[i].ImageUrl/1.jpg" alt=""> </a></div>
                                </div>
                            </div>

                        </div>
                    }
                </div>
            </div>
        </div>
    }
    <div style="background-image: url('https://www.nvidia.com/content/dam/en-zz/Solutions/geforce/ampere/rtx-3070/geforce-rtx-3070-hero-background-image-spec2-bb770_550-d@2x.jpg'); padding: 2%; border-radius: 1%; border-color: yellowgreen; border: 2px solid yellowgreen;">
        <div style="position: absolute; top: 33px; right: 50px; background-image: url('https://svg-clipart.com/clipart/grey/U6U98tr-new-icon-clipart.png'); height: 200px; width: 200px; background-size: contain"></div>
        <div class="col-9">
            <div>
                <h1 class="h1" style="color: yellowgreen"><span><strong>GEFORCE RTX 3070</strong></span></h1>
                <h2 class="h3" style="color: white"><strong>THE ULTIMATE PLAY</strong></h2>
                <div style="color: white">
                    <p>The GeForce RTX<sup>™</sup> 3070 is powered by Ampere—NVIDIA’s 2nd gen RTX architecture. Built with enhanced Ray Tracing Cores and Tensor Cores, new streaming multiprocessors, and high-speed G6 memory, it gives you the power you need to rip through the most demanding games.</p>
                </div>
            </div>
            <div class="button parbase section">
                <div>
                    <a href="/Items/Details?id=5">
                        <div class="btn">
                            <span class="fas fa-shopping-cart"></span> SEE BUYING OPTION
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div style="margin: 8%">
            <video src="video/GeForce RTX 3070 Unboxing.mp4" controls="controls" style="width: 885px; border: 2px solid yellowgreen;" height="498"> </video>
        </div>
    </div>


    <div class="best_sellers" style="border-radius: 2%; margin-top: 5% ;margin-bottom:5%">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="tabbed_container">
                        <div class="tabs clearfix tabs-right">
                            <div class="new_arrivals_title">Hot Products</div>
                            <div class="tabs_line"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="padding: 3%">

                <div class="col-lg-4 advert_col">
                    <!-- Advert Item -->
                    <div class="ml-item advert d-flex flex-row align-items-center justify-content-start" style="border-radius: 5%">
                        <div class="col-7">
                            <div class="row">
                                <div class="advert_title" style="margin-left: 10%"><a href="/Items/Details?id=1">New Surround Gaming Headset For Best Experience!</a></div>
                            </div>
                            <hr />
                        </div>
                        <div class="col-5" style="margin: auto">
                            <div class="advert_image" style="max-height: 80%; max-width: 100%; margin: auto;"> <a href="/Items/Details?id=1"> <img src="/images/items/G432Wired7dot1SurroundSoundGamingHeadset/1.jpg" alt=""> </a></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 advert_col">
                    <!-- Advert Item -->
                    <div class="ml-item advert d-flex flex-row align-items-center justify-content-start" style="border-radius: 5%">
                        <div class="col-7">
                            <div class="row">
                                <div class="advert_title" style="margin-left: 10%"><a href="/Items/Details?id=8">New Powerful CPU Intel Core i9-10900KA</a></div>
                            </div>
                            <hr />
                        </div>
                        <div class="col-5" style="margin: auto">
                            <div class="advert_image" style="max-height: 80%; max-width: 100%; margin: auto;"> <a href="/Items/Details?id=8"> <img src="/images/items/IntelCorei9-10900KACometLakeBox/1.jpg" alt=""> </a></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 advert_col">
                    <!-- Advert Item -->
                    <div class="ml-item advert d-flex flex-row align-items-center justify-content-start" style="border-radius: 5%">
                        <div class="col-7">
                            <div class="row">
                                <div class="advert_title" style="margin-left: 10%"><a href="/Items/Details?id=6">New Powerful GPU Nvidia GeForce RTX3090</a></div>
                            </div>
                            <hr />
                        </div>
                        <div class="col-5" style="margin: auto">
                            <div class="advert_image" style="max-height: 80%; max-width: 100%; margin: auto;"> <a href="/Items/Details?id=6"> <img src="/images/items/NVIDIAGeForceRTX3090/1.jpg" alt=""> </a></div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <script type="text/javascript" src="/js/home.js"></script>

</body>
