@model GamingStore.ViewModels.CreateOrderViewModel

@{
    ViewData["Title"] = "Check Out";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/cart_styles.css">
    <link rel="stylesheet" type="text/css" href="~/css/cart_responsive.css">
</head>
<link rel="stylesheet" type="text/css" href="~/css/check_out.css">
<form asp-action="CheckOutIndex">
    <div class="row">
        <div class="col-8">
            <div class="container">

                <div class="row">
                    <div class="col-50">
                        <h3>Shipping Address</h3>
                        <br>
                        <label asp-for="Customer.FirstName"><i class="fa fa-user"></i>First Name</label>
                        <input asp-for="Customer.FirstName" type="text" id="fname" name="firstname" placeholder="John">
                        <span asp-validation-for="Customer.FirstName" class="text-danger"></span>

                        <label asp-for="Customer.LastName"><i class="fa fa-user"></i>Last Name</label>
                        <input asp-for="Customer.LastName" type="text" id="lname" name="lastname" placeholder="Cohen">
                        <span asp-validation-for="Customer.LastName" class="text-danger"></span>


                        <label asp-for="Customer.Email"><i class="fa fa-envelope"></i> Email</label>
                        <input asp-for="Customer.Email" type="text" id="email" name="email" placeholder="john@example.com">
                        <span asp-validation-for="Customer.Email" class="text-danger"></span>

                        <label asp-for="Customer.Address"><i class="fa"></i> Address</label>
                        <input asp-for="Customer.Address" type="text" id="adr" name="address" placeholder="542 W. 15th Street">
                        <span asp-validation-for="Customer.Address" class="text-danger"></span>

                        <label asp-for="Customer.City"><i class="fa"></i> City</label>
                        <input asp-for="Customer.City" type="text" id="city" name="city" placeholder="Tel Aviv">
                        <span asp-validation-for="Customer.City" class="text-danger"></span>

                        <div class="row">
                            <div class="col-50">
                                <label for="state">State</label>
                                <input type="text" id="state" name="state" placeholder="Israel">
                            </div>

                            <div class="col-50">
                                <label for="zip">Zip</label>
                                <input type="text" id="zip" name="zip" placeholder="10001">
                            </div>
                        </div>
                    </div>



                    <div class="col-50">
                        <h3>Payment</h3>
                        <br>
                        <label for="cname">Name on Card</label>
                        <input type="text" id="cname" name="cardname" placeholder="John More Doe">
                        <label for="ccnum">Credit card number</label>
                        <input type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444">
                        <label for="expmonth">Exp Month</label>
                        <input type="text" id="expmonth" name="expmonth" placeholder="September">

                        <div class="row">
                            <div class="col-50">
                                <label for="expyear">Exp Year</label>
                                <input type="text" id="expyear" name="expyear" placeholder="2018">
                            </div>
                            <div class="col-50">
                                <label for="cvv">CVV</label>
                                <input type="text" id="cvv" name="cvv" placeholder="352">
                            </div>
                        </div>
                    </div>


                    <div class="col-50">
                        <br>
                        <h3>Shipping options</h3>
                        <fieldset>
                            <label>Choose a delivery option:</label>
                            <div data-isscheduleddelivery="0">
                                <input type="radio" asp-for="Payment.ShippingCost" value="0">
                                <span>
                                    <strong>Pickup</strong>
                                </span>
                                <br>
                                <span>$0.00 -&nbsp;FREE&nbsp;</span>
                            </div>
                            <div data-isscheduleddelivery="0">
                                <input type="radio" checked="checked" asp-for="Payment.ShippingCost" value="10">
                                <span>
                                    <strong>
                                        Averages 7-10 business days
                                    </strong>
                                </span>
                                <br>
                                <span>$10.00&nbsp;-&nbsp;Standard Shipping&nbsp;</span>
                            </div>
                            <div data-isscheduleddelivery="0">
                                <input type="radio" asp-for="Payment.ShippingCost" value="45">
                                <span>
                                    <strong>
                                        Averages 2-5 business days
                                    </strong>
                                </span>
                                <br>
                                <span>$45.00&nbsp;-&nbsp;Express Shipping&nbsp;</span>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="container">
                <h3>
                    Cart
                    <span class="price" style="color: black">
                        <i class="fa fa-shopping-cart"></i>
                        @{
                            double count = Model.Cart.Aggregate(0, (current, itemsInCart) => current + itemsInCart.Quantity);
                            <b>@count</b>
                        }
                    </span>
                    <br>
                </h3>
                <span class="col-50" style="color: black">
                    <p>
                        @foreach (Cart cart in Model.Cart)
                        {
                            <span>@cart.Quantity x @cart.Item.Title.Substring(0, Math.Min(cart.Item.Title.Length, 27))</span>
                            <span class="price">$@cart.Item.Price</span>
                            <br>
                        }
                    </p>
                    <p>
                        <span>Shipping:</span> <span class="price">$0</span>
                    </p>

                    <!-- Order Total -->
                    <p>
                        <h4>
                            <hr class="solid">
                            @{
                                double itemsCost = Model.Cart.Aggregate<Cart, double>(0, (current, itemsInCart) => current + itemsInCart.Item.Price * itemsInCart.Quantity);
                                <input type="hidden" value="@itemsCost" asp-for="Payment.ItemsCost" />
                                <span>Order Total:</span>
                                <span class="price">$@itemsCost</span>
                            }
                        </h4>
                    </p>

                </span>
                <input type="button" value="Place Order" class="btn" asp-controller="Orders" asp-action="Create" asp-route->
                @*<input type="submit" value="Place Order" class="btn">*@
            </div>
        </div>



    </div>
</form>
