@using GamingStore.Contracts
@model GamingStore.ViewModels.EditOrdersViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Edit</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm("Edit", "Orders", FormMethod.Post, null))
        {
            <div>
                <label><i class="fa fa-user"></i>User Name</label>
                @Html.DropDownListFor(m => m.Order.Customer, new SelectList(Model.Customers), null, new { @class = "form-control" })
                <label><i class="fa fa"></i>State</label>
                @Html.DropDownListFor(m => m.Order.State, new SelectList(Enum.GetNames(typeof(OrderState))), null, new { @class = "form-control" })
            </div>
            <div>
                <input type="submit" value="Save" class="btn btn-primary" style="margin-top: 8%"/>
            </div>
        }
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
