@model GamingStore.ViewModels.OrderPlacedViewModel
@{
    ViewData["Title"] = "Thank You";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/cart_styles.css">
    <link rel="stylesheet" type="text/css" href="~/css/thank_you.css">
</head>

<body>
    <div class="single_post" style="margin-top: 70px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 offset-lg-2">
                    <div class="a-box a-alert a-alert-success" id="SFID260">
                        <div class="a-box-inner a-alert-container" id="SFID261">
                            <i class="a-icon a-icon-alert" id="SFID262"></i>
                            <div class="a-alert-content" id="SFID263">
                                <div class="a-row" id="SFID264">
                                    <div class="a-column a-span7" id="SFID265">
                                        <style type="text/css" id="SFID266">
                                            .subHeadingAndMobileWidgetDisplay {
                                                display: none;
                                                margin-top: 0px !important;
                                            }
                                        </style>
                                        <div id="widget-purchaseConfirmationStatus" class="a-section a-spacing-micro">
                                            <div cel_widget_id="typ-purchaseConfirmationStatus" class="celwidget" data-csa-c-id="i80x0l-uq0257-qjaspv-fhtogd" id="SFID268" data-cel-widget="typ-purchaseConfirmationStatus">
                                                <h2 class="a-color-success" id="SFID269"> Order creation has been failed, contact support at gamingstore@gmail.com.</h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>