
@{
    ViewData["Title"] = "Thank You";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/cart_styles.css">
    <link rel="stylesheet" type="text/css" href="~/css/thank_you.css">
</head>

<body>

<div class="home">
    <div class="home_background parallax-window" data-parallax="scroll" data-image-src="/images/blog_single_background.jpg" data-speed="0.8"></div>
</div>

<div class="single_post">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="a-box a-alert a-alert-success" id="SFID260">
                    <div class="a-box-inner a-alert-container" id="SFID261">
                        <i class="a-icon a-icon-alert" id="SFID262"></i><div class="a-alert-content" id="SFID263">
                            <div class="a-row" id="SFID264">
                                <div class="a-column a-span7" id="SFID265">



                                    <style type="text/css" id="SFID266">
                                        .subHeadingAndMobileWidgetDisplay {
                                            display: none;
                                            margin-top: 0px !important;
                                        }
                                    </style>














































































































































                                    <div id="widget-purchaseConfirmationStatus" class="a-section a-spacing-micro">
                                        <div cel_widget_id="typ-purchaseConfirmationStatus" class="celwidget" data-csa-c-id="i80x0l-uq0257-qjaspv-fhtogd" id="SFID268" data-cel-widget="typ-purchaseConfirmationStatus">
                                            <h2 class="a-color-success" id="SFID269">
                                                Thank you, your order has been placed.
                                            </h2>
                                        </div>
                                    </div>


                                    <style id="SFID270">
                                        .subHeadingAndMobileWidgetDisplay {
                                            display: none;
                                        }
                                    </style>



                                    <!--
                    TODO : we only need one paragraph once mobile app notification is migrated off Gurupa
                    How it works :
                    1. Initially only subHeadingOnly is displayed and subHeadingAndMobileWidget is hidden.
                    2. Ajax call is made to fetch app installation messages.
                    3. if call is successful add fetched message in subHeadingAndMobileWidget and hide subHeadingOnly.
                    Note: IDs of following elements is closely tied to AJAX call
                    -->
                                    <div id="widget-purchaseConfirmationReview" class="a-section a-spacing-none">
                                        <div cel_widget_id="typ-purchaseConfirmationReview" class="celwidget" data-csa-c-id="frwmuv-nt0fvp-ui4av5-ib9mh9" id="SFID272" data-cel-widget="typ-purchaseConfirmationReview">
                                            <p id="subHeadingOnly" class="a-spacing-base" style="display: none;">
                                                <span id="SFID274">Please check your email for order confirmation and detailed delivery information or visit </span><a class="a-link-normal" href="/gp/message" id="SFID275"><span id="SFID276">Message centre</span></a><span id="SFID277"> to review your notifications.</span>
                                            </p>
                                        </div>
                                    </div>

                                    <div id="widget-purchaseConfirmationReview-hidden" class="a-section a-spacing-none">
                                        <div cel_widget_id="typ-purchaseConfirmationReview" class="celwidget" data-csa-c-id="88tr47-q4gisb-igamt9-9577g8" id="SFID279" data-cel-widget="typ-purchaseConfirmationReview">
                                            <p id="subHeadingAndMobileWidget" class="a-spacing-base subHeadingAndMobileWidgetDisplay" style="display: block;">
                                                <span id="SFID281">Please check your email for order confirmation and detailed delivery information or visit </span><a class="a-link-normal" href="/gp/message" id="SFID282"><span id="SFID283">Message centre</span></a><span id="SFID284"> to review your notifications.</span>
                                                <style type="text/css" id="SFID2018">
                                                    .hidden {
                                                        display: none;
                                                    }
                                                </style>





















                                            </p><div id="txt-trace-typ-widget" style="display:none" ;=""></div>



                                            <br id="SFID2020">
                                            <span id="cs-app-prompt">
                                                <span class="a-color-attainable a-text-bold" id="SFID2022">New</span>

                                                Stay up to date with your order. Get the <a href="/typapp" id="SFID2023">Amazon app</a>.
                                            </span><p></p>
                                        </div>
                                    </div>














































































































































































































































                                    <div cel_widget_id="purchase-summary" class="celwidget" data-csa-c-id="a1u1ty-1rqnmf-urexra-druk6p" id="SFID285" data-cel-widget="purchase-summary">













                                        <style id="SFID286">
                                            /*Style set A*/
                                            .checkout-quantity-badge {
                                                height: 20px;
                                                background-color: rgb(255, 255, 255);
                                                background-color: rgba(255, 255, 255, 0.9);
                                                border-radius: 10px; /*height/2*/
                                                border: 1px solid #ccc;
                                                font-size: 12px;
                                                line-height: 18px; /* height - 2*border width)*/
                                                min-width: 20px; /*height*/
                                                padding: 0 5px;
                                                position: absolute;
                                                text-align: center;
                                                width: auto;
                                                right: -5px;
                                                bottom: -5px;
                                                z-index: 1;
                                            }

                                            .image-panel {
                                                position: relative;
                                                display: inline-block;
                                                z-index: unset;
                                            }

                                            /*Style set B*/
                                            .see-more-card {
                                                margin-left: 16px;
                                                margin-right: 25px
                                            }

                                            .see-more-card-padding > div.a-box-inner {
                                                padding-bottom: 13px;
                                                padding-top: 10px;
                                            }

                                            .image-card {
                                                margin-left: 10px;
                                            }

                                            .desktop-image-card {
                                                margin-right: 15px;
                                                float: left;
                                            }
                                        </style>

                                        <div id="widget-purchaseSummary" class="a-section a-spacing-large a-spacing-top-medium">
                                            <div cel_widget_id="typ-purchaseSummary" class="celwidget" data-csa-c-id="8dcq12-7841xj-v1367d-nwom6f" id="SFID288" data-cel-widget="typ-purchaseSummary">






                                                <div id="widget-orderSummary-orderGroupID0" class="a-section a-spacing-medium">
                                                    <div cel_widget_id="typ-orderSummary-0" class="celwidget" data-csa-c-id="tuh8x9-gwdeg7-ruj9t3-sjx6de" id="SFID290" data-cel-widget="typ-orderSummary-0">















                                                        <div id="widget-shipmentSummary-orderGroupID0#itemGroupID0" class="a-section a-spacing-base">
                                                            <div cel_widget_id="typ-shipmentSummary-0" class="celwidget" data-csa-c-id="weja3e-svr3yx-jjm0jw-rzepuy" id="SFID292" data-cel-widget="typ-shipmentSummary-0">












































                                                                <div class="a-row" id="SFID293">
                                                                    <div class="a-column a-span5" id="SFID294">
                                                                        <div id="widget-shipmentText-orderGroupID0#itemGroupID0" class="a-row a-spacing-micro">















                                                                            <span id="shipment-text-orderGroupID0#itemGroupID0" class="a-size-base">



                                                                                <strong id="SFID297">2 items will be delivered to</strong> <span class="a-text-bold" id="SFID298">
                                                                                    <span id="SFID299">Rebecca Davies, </span>
                                                                                </span>
                                                                                <span id="SFID300">Unit 1 Ty Croes Business Park, Pontarddulais Road ebayt5pjz5l, Ammanford, SA183RD</span>


                                                                            </span>


                                                                        </div>
                                                                        <div id="widget-deliveryPromise-orderGroupID0#itemGroupID0" class="a-row">









                                                                            <span id="delivery-promise-orderGroupID0#itemGroupID0" class="a-size-base">











                                                                                <span id="SFID303">Delivery date: </span>












                                                                                <span class="a-color-success a-text-bold" id="SFID304">
                                                                                    <span id="SFID305">Tomorrow, Oct 29 </span>
                                                                                </span>







                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                    <div id="widget-shipmentProductImages-orderGroupID0#itemGroupID0" class="a-column a-span7 a-span-last">




















                                                                        <div cel_widget_id="typ-shipmentProductImages" class="celwidget" data-csa-c-id="18zk1d-hu1ttq-e8p9n4-3y17zo" id="SFID307" data-cel-widget="typ-shipmentProductImages">










                                                                            <div class="a-row" id="SFID308">


                                                                                <div cel_widget_id="typ-rightSideImage-0" class="celwidget" data-csa-c-id="6cefmh-ashih4-fagz66-a0dvo4" id="SFID309" data-cel-widget="typ-rightSideImage-0">
                                                                                    <div class="a-section desktop-image-card" id="SFID310">

















                                                                                        <div class="a-section image-panel" id="SFID311">
                                                                                            <div class="a-image-container a-dynamic-image-container" style="width:80px; height:80px;" id="SFID312">


                                                                                                <img alt="5,000 x Clarke Type 71 22 gauge 12mm staples" src="https://m.media-amazon.com/images/I/61QBcIuZHeL._AC_AA160_.jpg" id="SFID313">



                                                                                            </div>

                                                                                            <span class="a-color-secondary checkout-quantity-badge" id="SFID314">
                                                                                                2
                                                                                            </span>

                                                                                        </div>
                                                                                    </div>
                                                                                </div>


                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>


                                                                <div id="widget-shipmentMessages-orderGroupID0#itemGroupID0" class="a-section">













                                                                </div>






                                                            </div>
                                                        </div>






                                                    </div>
                                                </div>





                                            </div>
                                        </div>
                                    </div>

                                    <input type="hidden" name="" value="{&quot;_STARTTIME&quot;:1603884158}" id="cached-promise-data">


















                                    <script type="text/javascript" id="SFID317">
P.when('A', 'cf').execute( function(A) {
     A.preload(["https://images-eu.ssl-images-amazon.com/images/G/02/gno/images/general/navAmazonLogoFooter._CB485934702_.gif","https://images-eu.ssl-images-amazon.com/images/G/02/gno/sprites/nav-sprite-global-1x-hm-dsk-reorg._CB405938116_.png","https://images-eu.ssl-images-amazon.com/images/G/02/x-locale/common/transparent-pixel._CB485934990_.gif","https://images-eu.ssl-images-amazon.com/images/G/02/x-locale/cs/orders/images/acorn._CB485934536_.gif","https://images-eu.ssl-images-amazon.com/images/G/02/x-locale/cs/orders/images/btn-close._CB485934071_.gif","https://images-eu.ssl-images-amazon.com/images/G/02/x-locale/cs/orders/images/amazon-gcs-100._CB485935744_.gif","https://images-eu.ssl-images-amazon.com/images/G/02/x-locale/cs/orders/images/amazon-gc-100._CB485935439_.gif","https://images-eu.ssl-images-amazon.com/images/G/02/x-locale/communities/social/snwicons_v2._CB478838660_.png","https://images-eu.ssl-images-amazon.com/images/G/02/x-locale/cs/projects/text-trace/texttrace_typ._CB485919351_.js","https://images-eu.ssl-images-amazon.com/images/G/01/x-locale/cs/css/images/amznbtn-sprite03._CB485966170_.png"], 0);



            var prefetchUrls = [{"queryParams":{"s":"259-8784154-5857625","fetchProductImages":100},"url":"/gp/css/order-history/utils/first-order-for-customer.html/ref=thankyou_prefetch_orders"}];
      P.when('A', 'cf').execute(function(A) {
        for (var i = 0; i < prefetchUrls.length; i++) {
          A.ajax(prefetchUrls[i]['url'], {
            dataType : 'json',
            params   : prefetchUrls[i]['queryParams'],
            method   : 'get',
            cache    : false,
            success  : function(result) {
              if (result['image-urls'] && result['image-urls'].length > 0) {
                A.preload(result['image-urls'], 0);
              }
            }
          });
        }
     });



});
                                    </script>




























































































































































































































































                                    <div id="widget-accountLevelActions" class="a-section a-spacing-none">
                                        <div cel_widget_id="typ-accountLevelActions" class="celwidget" data-csa-c-id="ac36qk-3eux3n-vjke32-ceycf1" id="SFID319" data-cel-widget="typ-accountLevelActions">

                                            <span cel_widget_id="typ-reviewYourAllOrders" class="celwidget" data-csa-c-id="nrc4gp-1hx7w4-5x3tkm-q60zoe" id="SFID320" data-cel-widget="typ-reviewYourAllOrders">
                                                <a class="a-link-emphasis" href="/gp/your-account/order-history?ref_=typ_rev_edit_mult" id="SFID321"><span id="SFID322">Review or edit your recent orders</span></a>
                                            </span>



                                        </div>
                                    </div>
























                                </div>

                                <div class="a-column a-span5 a-span-last" id="SFID323">
                                    <div cel_widget_id="typ-desktop-right-upsell-slot" class="celwidget" data-csa-c-id="ilhs0z-i2rqgv-d36j6v-f3j642" id="SFID324" data-cel-widget="typ-desktop-right-upsell-slot">





                                        <div id="prime-pda-type-box-ad" cel_widget_id="typ-desktop-upsell-PIV-widget" class="celwidget" data-csa-c-id="2ua2if-op5bbu-w4l9ab-puqcq7" data-cel-widget="typ-desktop-upsell-PIV-widget">
                                            <style type="text/css" id="SFID326">
                                                .pet_ftue_button {
                                                    min-width: 192px;
                                                    margin: 20px auto;
                                                }
                                            </style>




                                            <!-- HTML -->
                                            <div id="SFID327">
                                                <table style="width:100%,height:100%" id="SFID328">
                                                    <tbody id="SFID329">
                                                        <tr style="height:51px" id="SFID330"></tr>

                                                        <tr id="SFID331">
                                                            <td style="max-width:138px;max-height:125px" id="SFID332">
                                                                <span id="imageBlock" class="a-declarative" data-action="amuImage">
                                                                    <a href="https://music.amazon.co.uk/unlimited/signup?ref=DMM_TYP_AMU_NON_BB_P_1903" id="SFID334">
                                                                        <img src="https://images-na.ssl-images-amazon.com/images/G/02/digital/music/merch/2019/ACQ/ThankYou/020419-Upsell/020419_AMU_ThankYou_230x125._CB467819897_.jpg" alt="Get Unlimited access to" id="SFID335">
                                                                    </a>
                                                                </span>

                                                                <span id="welcomeImageBlock" data-action="amuWelcomeImage" style="display:none">
                                                                    <a href="https://music.amazon.co.uk/unlimited/signup?ref=DMM_TYP_AMU_NON_BB_P_1903" id="SFID337">
                                                                        <img src="https://images-na.ssl-images-amazon.com/images/G/02/digital/music/merch/2019/ACQ/ThankYou/020419-Upsell/200720_UK_ThankYou_460x250_230x125_2x._CB407830279_.jpg" alt="Get Unlimited access to" id="SFID338">
                                                                    </a>
                                                                </span>

                                                            </td>

                                                            <td style="padding-left:12px;vertical-align:middle;text-align:center;" id="SFID339">
                                                                <span id="fullBlock" class="a-declarative" data-action="complete-amu-block">
                                                                    <p style="font-size:17px;min-width:192px;max-width:235px;margin-top:0px;margin-bottom:0px;margin-right:0px;margin-left:0px;color:#111111;text-align:center;font-face:AmazonEmber-Bold;" id="SFID341">
                                                                        3 months free
                                                                    </p>

                                                                    <span id="signupButton" class="a-declarative" data-action="click-on-amu-cta">
                                                                        <p style="font-size:13px;max-width:233px;height:40px;white-space:normal;margin-bottom:0px;margin-right:0px;margin-left:0px;margin-top:-4px;font-face:AmazonEmber-Bold;" id="SFID343">
                                                                            <span id="ctaButton" class="a-button a-button-base pet_ftue_button"><span class="a-button-inner" id="SFID345"><input class="a-button-input" type="submit" aria-labelledby="ctaButton-announce" id="SFID346"><span id="ctaButton-announce" class="a-button-text" aria-hidden="true">Try 3 months free – pay later</span></span></span>
                                                                        </p>
                                                                    </span>

                                                                    <p style="font-size:13px;color:#555555;text-align:center;max-width:233px;min-width:192px;margin-bottom:0px;margin-right:0px;margin-left:0px;margin-top:15px;font-face:AmazonEmber-Bold;" id="SFID348">
                                                                        Renews at £7.99/month after 3 months trial. Cancel anytime.
                                                                    </p>
                                                                </span>

                                                                <span id="fullBlockAfterSignUp" class="a-declarative" data-action="welcomeAmazonMusic" style="display:none">
                                                                    <p style="font-size:17px;min-width:192px;max-width:235px;margin-top:0px;margin-bottom:0px;margin-right:0px;margin-left:0px;color:#111111;text-align:center;font-face:AmazonEmber-Bold;" id="SFID350">
                                                                        Your 3 month trial of Amazon Music Unlimited starts now. <a href="https://www.amazon.co.uk/music/settings" target="_blank" id="SFID351">Manage your subscription.</a>
                                                                    </p>

                                                                    <p style="font-size:13px;max-width:233px;height:40px;white-space: normal;margin-bottom:0px;margin-right:0px;margin-left:0px;margin-top:-4px;font-face:AmazonEmber-Bold;" id="SFID352">
                                                                        <span class="a-button a-button-base pet_ftue_button" id="a-autoid-0">
                                                                            <span class="a-button-inner" id="SFID354">
                                                                                <a href="https://music.amazon.co.uk" target="_blank" rel="noopener" class="a-button-text" role="button" id="a-autoid-0-announce">
                                                                                    <img src="https://images-na.ssl-images-amazon.com/images/G/02/digital/music/merch/2019/ACQ/ThankYou/020419-Upsell/ic_play_ring_largest_pureblack._CB404143078_.png" id="SFID356">                            &nbsp;
                                                                                    &nbsp;
                                                                                    Listen Now
                                                                                </a>
                                                                            </span>
                                                                        </span>
                                                                    </p>

                                                                </span>

                                                                <span id="fullBlockErrorScenario" class="a-declarative" data-action="errorSigningUp" style="display:none">
                                                                    <p style="font-size:12px;min-width:192px;max-width:235px;margin-top:0px;margin-bottom:0px;margin-right:0px;margin-left:0px;color:#FF0000;text-align:center;font-face:AmazonEmber-Bold;" id="SFID358">
                                                                        <i id="SFID359">!</i> We encountered an error when attempting to create your Amazon Music Unlimited subscription. Tap continue to sign up for Amazon Music Unlimited
                                                                    </p>

                                                                    <p style="font-size:13px;max-width:233px;height:40px;white-space: normal;margin-bottom:0px;margin-right:0px;margin-left:0px;margin-top:-4px;font-face:AmazonEmber-Bold;" id="SFID360">
                                                                        <span class="a-button a-button-base pet_ftue_button" id="a-autoid-1"><span class="a-button-inner" id="SFID362"><a href="https://music.amazon.co.uk/unlimited/signup" target="_blank" rel="noopener" class="a-button-text" role="button" id="a-autoid-1-announce">Continue</a></span></span>
                                                                    </p>

                                                                </span>

                                                                <span id="spinner" class="a-spinner a-spinner-medium" style="display:none"></span>
                                                            </td>

                                                            <td id="SFID365">
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                                <span id="amuTou">
                                                    <p style="font-size:13px;color:#000000;text-align:center;margin-bottom:0px;margin-right:0px;margin-left:0px;margin-top:15px;font-face:AmazonEmber-Bold;" id="SFID367">
                                                        By clicking "Try Now - Pay Later", you acknowledge that you have read and agree to <a href="https://www.amazon.co.uk/gp/help/customer/display.html?nodeId=201909000" target="_blank" id="SFID368"> Amazon’s Conditions of Use</a>  and <a href="https://www.amazon.co.uk/gp/help/customer/display.html?nodeId=201380010" target="_blank" id="SFID369"> Amazon Music Terms of Use</a> . You authorise us to charge your default card or another card on file, <b id="SFID370"> £7.99 per month, including taxes after your trial. <a href="https://www.amazon.co.uk/b?node=21010734031." target="_blank" id="SFID371"> Terms &amp; Conditions apply: </a> Your subscription will renew automatically after the introductory offer. Cancel renewal any time by visiting <a href="https://www.amazon.co.uk/music/settings" target="_blank" id="SFID372"> Amazon Music Settings. </a></b>
                                                    </p>
                                                </span>

                                                <script id="SFID373">
P.when('A').execute(function(A){
    A.declarative('click-on-amu-cta', 'click', function(event){
         try {
             document.getElementById("fullBlock").style.display = 'none';
             document.getElementById("amuTou").style.display = 'none';
             document.getElementById("spinner").style.display = 'block';
             A.$.ajax({
                type: 'POST',
                dataType: "json",
                headers: {
                     'Content-Type': "application/json; charset=utf-8"
                },
                xhrFields: {
                    withCredentials: true
                },
                data: JSON.stringify({
                                                'scheduleId': '04b19ef3-ed8c-1186-e700-daaa1f17f3e9'
                                }),
                url: 'https://music.amazon.co.uk/unlimited/oneclickajaxsignup',
                error: function(response){
                    document.getElementById("spinner").style.display = 'none';
                    document.getElementById("fullBlockErrorScenario").style.display = 'block';
                }, success: function(response){
                    if(0 == response.success) {
                        document.getElementById("spinner").style.display = 'none';
                        document.getElementById("fullBlockErrorScenario").style.display = 'block';
                    }else{
                        document.getElementById("spinner").style.display = 'none';
                        document.getElementById("imageBlock").style.display = 'none';
                        document.getElementById("welcomeImageBlock").style.display = 'block';
                        document.getElementById("fullBlockAfterSignUp").style.display = 'block';
                    }
             }
            });
        } catch(exception) {
            var errorMessage = "Exception while creating music subscription: "+exception;
        }
    });
});
                                                </script>
                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>