@model IEnumerable<GamingStore.Models.Cart>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/css/cart_styles.css">
    <link rel="stylesheet" type="text/css" href="~/css/cart_responsive.css">
</head>

<body>
    <div class="cart_section">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div>
                    <div class="cart_title">Shopping Cart</div>
                    <div class="cart_items">
                        <ul class="cart_list">
                            @foreach (Cart itemsInCart in Model)
                            {
                                <li class="cart_item clearfix">
                                    <div class="cart_item_image"><img src="/@itemsInCart.Item.ImageUrl/1.jpg" alt=""></div>
                                    <div class="cart_item_info d-flex flex-md-row flex-column justify-content-between">
                                        <div class="cart_item_name cart_info_col">
                                            <div class="cart_item_title"> Name</div>
                                            <div class="cart_item_text">@itemsInCart.Item.Title.Substring(0, Math.Min(itemsInCart.Item.Title.Length, 27))</div>
                                        </div>
                                        <div class="cart_info_col">
                                            <div class="cart_item_title">Manufacturer</div>
                                            <div class="cart_item_text"><span style="background-color: #999999;"></span>@itemsInCart.Item.Manufacturer</div>
                                        </div>
                                        <div class="cart_info_col">
                                            <div class="cart_item_title">Quantity</div>
                                            <div class="cart_item_text">@itemsInCart.Quantity</div>
                                        </div>
                                        <div class="cart_item_total cart_info_col">
                                            <div class="cart_item_title">Total</div>
                                            <div class="cart_item_text">$@itemsInCart.Item.Price</div>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>

                    <!-- Order Total -->
                    <div class="order_total">
                        <div class="text-md-right">
                            <div class="order_total_title">Order Total:</div>
                            @{
                                double total = Model.Aggregate<Cart, double>(0, (current, itemsInCart) => current + itemsInCart.Item.Price * itemsInCart.Quantity);
                                <div class="order_total_amount">$@total</div>
                            }
                        </div>
                    </div>

                    <div class="cart_buttons">
                        @using (Html.BeginForm("Delete", "Carts", FormMethod.Post, null))
                        {
                            <input type="submit" class="button cart_button_clear" value="Clear Cart" />
                            <button type="button" class="button cart_button_checkout" onclick="location.href = '@Url.Action("CheckOutIndex", "Orders")'"
                                    @{
                                        if(!Model.Any())
                                        {
                                            @:disabled
                                        }
                                    }
                                    >Proceed to Check Out</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>