/*********************************
Single Product
*********************************/

.single_product
{
	padding-top: 110px;
	padding-bottom: 140px;
}
.image_list li
{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 165px;
	border: solid 1px #e8e8e8;
	box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
	margin-bottom: 15px;
	cursor: pointer;
	padding: 15px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
	overflow: hidden;
}
.image_list li:last-child
{
	margin-bottom: 0;
}
.image_list li:hover
{
	box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
}
.image_list li img
{
	max-width: 100%;
}
.image_selected
{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: calc(100% + 15px);
	height: 525px;
	-webkit-transform: translateX(-15px);
	-moz-transform: translateX(-15px);
	-ms-transform: translateX(-15px);
	-o-transform: translateX(-15px);
	transform: translateX(-15px);
	border: solid 1px #e8e8e8;
	box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
	overflow: hidden;
	padding: 15px;
}
.image_selected img
{
	max-width: 100%;
}
.product_description
{
	padding-left: 50px;
}
.product_category
{
	font-size: 12px;
	color: rgba(0,0,0,0.5);
}
.product_name
{
	font-size: 30px;
	font-weight: 500;
	margin-top: 11px;
}
.product_rating
{
	margin-top: 7px;
}
.product_rating i
{
	margin-right: 4px;
}
.product_rating i::before
{
	font-size: 13px;
}
.product_text
{
	margin-top: 27px;
}
.product_text p:last-child
{
	margin-bottom: 0px;
}
.order_info
{
	margin-top: 53px;
}
.product_quantity
{
	width: 182px;
	height: 50px;
	border: solid 1px #e5e5e5;
	border-radius: 5px;
	overflow: hidden;
	padding-left: 25px;
	float: left;
	margin-right: 30px;
}
.product_quantity span
{
	display: block;
	height: 50px;
	font-size: 16px;
	font-weight: 300;
	color: rgba(0,0,0,0.5);
	line-height: 50px;
	float: left;
}
.product_quantity input
{
	display: block;
	width: 30px;
	height: 50px;
	border: none;
	outline: none;
	font-size: 16px;
	font-weight: 300;
	color: rgba(0,0,0,0.5);
	text-align: left;
	padding-left: 9px;
	line-height: 50px;
	float: left;
}
.quantity_buttons
{
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 29px;
	border-left: solid 1px #e5e5e5;
}
.quantity_inc, 
.quantity_dec
{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 50%;
	cursor: pointer;
}
.quantity_control i
{
	font-size: 11px;
	color: rgba(0,0,0,0.3);
	pointer-events: none;
}
.quantity_control:active
{
	border: solid 1px rgba(14, 140, 228, 0.2);
}
.quantity_inc
{
	padding-bottom: 2px;
	justify-content: flex-end;
	border-top-right-radius: 5px;
}
.quantity_dec
{
	padding-top: 2px;
	justify-content: flex-start;
	border-bottom-right-radius: 5px;
}
.product_color
{
	width: 182px;
	height: 50px;
	border: solid 1px #e5e5e5;
	border-radius: 5px;
	float: left;
	cursor: pointer;
}
.product_color span
{
	display: block;
	height: 50px;
	font-size: 16px;
	font-weight: 300;
	color: rgba(0,0,0,0.5);
	line-height: 50px;
	float: left;
}
.color_dropdown_button
{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	right: 0;
	width: 50px;
	height: 100%;
}
.color_dropdown_button i
{
	font-size: 11px;
	color: rgba(0,0,0,0.3);
	pointer-events: none;
}
.color_mark_container
{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 20px;
	height: 48px;
	float: right;
}
.color_mark
{
	width: 20px;
	height: 20px;
	background: #999999;
	border-radius: 50%;
}
.product_color > li
{
	position: relative;
	width: 100%;
	height: 100%;
	padding-left: 25px;
	padding-right: 49px;
}
.product_color li ul
{
	position: absolute;
	top: calc(100% + 15px);
	right: 0;
	padding-top: 15px;
	padding-bottom: 15px;
	width: auto;
	visibility: hidden;
	opacity: 0;
	box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
	background: #FFFFFF;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.product_color > li:hover ul
{
	top: 100%;
	visibility: visible;
	opacity: 1;
}
.product_color li ul li
{
	padding-right: 49px;
	padding-left: 49px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.product_color li ul li div
{
	margin-left: auto;
}
.product_price
{
	display: inline-block;
	font-size: 24px;
	font-weight: 500;
	margin-top: 75px;
	clear: left;
}
.button_container
{
	margin-top: 43px;
}
.cart_button
{
	display: inline-block;
	border: none;
	font-size: 18px;
	font-weight: 400;
	line-height: 48px;
	color: #FFFFFF;
	padding-left: 35px;
	padding-right: 35px;
	outline: none;
	cursor: pointer;
}
.cart_button:focus
{
	outline: none;
}
.product_fav
{
	display: inline-block;
	width: 36px;
	height: 36px;
	background: #FFFFFF;
	box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
	border-radius: 50%;
	text-align: center;
	cursor: pointer;
	margin-left: 36px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.product_fav:hover
{
	box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
}
.product_fav i
{
	line-height: 36px;
	color: #cccccc;
}
.product_fav.active i
{
	color: #df3b3b;
}
/*********************************
7. Brands
*********************************/

.brands
{
	width: 100%;
	padding-top: 90px;
	padding-bottom: 90px;
}
.brands_slider_container
{
	height: 130px;
	border: solid 1px #e8e8e8;
	box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
	padding-left: 97px;
	padding-right: 97px;
}
.brands_slider
{
	height: 100%;
}
.brands_item
{
	height: 100%;
}
.brands_item img
{
	max-width: 100%;
}
.brands_nav
{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	padding: 5px;
	cursor: pointer;
}
.brands_nav i
{
	color: #e5e5e5;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.brands_nav:hover i
{
	color: #676767;
}
.brands_prev
{
	left: 40px;
}
.brands_next
{
	right: 40px;
}

/*********************************
8. Newsletter
*********************************/

.newsletter
{
	width: 100%;
	background: #fafafa;
	padding-top: 60px;
	padding-bottom: 60px;
	box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
}
.newsletter_container
{
	width: 100%;
}
.newsletter_title_container
{
	width: 40%;
	padding-left: 95px;
}
.newsletter_icon
{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 0;
}
.newsletter_title
{
	font-size: 18px;
	color: #000000;
}
.newsletter_text p:last-child
{
	margin-bottom: 0;
}
.newsletter_icon img
{
	max-width: 100%;
}
.newsletter_content
{
	width: 60%;
}
.newsletter_form
{
	position: relative;
	width: 569px;
	float: left;
}
.newsletter_input
{
	width: 100%;
	height: 50px;
	background: #FFFFFF;
	border: solid 1px #e5e5e5;
	border-radius: 5px;
	padding-left: 25px;
	font-size: 16px;
	outline: none;
	color: #0e8ce4;
}
.newsletter_input:focus
{
	border: solid 1px rgba(14, 140, 228, 0.3);
	box-shadow: 0px 1px 5px rgba(14, 140, 228, 0.3);
}
.newsletter_input::-webkit-input-placeholder
{
	font-size: 16px;
	color: rgba(0,0,0,0.3);
}
.newsletter_input:-moz-placeholder
{
	font-size: 16px;
	color: rgba(0,0,0,0.3);
}
.newsletter_input::-moz-placeholder
{
	font-size: 16px;
	color: rgba(0,0,0,0.3);
} 
.newsletter_input:-ms-input-placeholder
{ 
	font-size: 16px;
	color: rgba(0,0,0,0.3);
}
.newsletter_input::input-placeholder
{
	font-size: 16px;
	color: rgba(0,0,0,0.3);
}
.newsletter_button
{
	position: absolute;
	top: 0;
	right: 0;
	width: 153px;
	height: 50px;
	background: #0e8ce4;
	color: #FFFFFF;
	line-height: 50px;
	font-size: 18px;
	border: none;
	outline: none;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	cursor: pointer;
}
.newsletter_button:hover
{
	opacity: 0.8;
}
.newsletter_unsubscribe_link
{
	float: right;
	text-align: right;
	height: 50px;
}
.newsletter_unsubscribe_link a
{
	font-size: 10px;
	color: #0e8ce4;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	line-height: 50px;
}
.newsletter_unsubscribe_link a:hover
{
	color: #0d82d3;
}

/*********************************
9. Footer
*********************************/

.footer
{
	padding-top: 52px;
	padding-bottom: 40px;
}
.footer .logo_container
{
	height: auto;
	margin-bottom: 18px;
	margin-top: -10px;
}
.footer .logo
{
	top: auto;
	-webkit-transform: transform: none;
    -moz-transform: transform: none;
    -ms-transform: transform: none;
    -o-transform: transform: none;
    transform: none;
}
.footer .logo a
{
	color: #000000;
}
.footer_title
{
	font-size: 14px;
	font-weight: 500;
	color: #000000;
}
.footer_phone
{
	font-size: 18px;
	font-weight: 500;
	color: #0e8ce4;
	margin-top: 13px;
}
.footer_contact_text
{
	margin-top: 10px;
}
.footer_contact_text p
{
	margin-bottom: 0px;
}
.footer_social
{
	margin-top: 27px;
}
.footer_social ul li
{
	display: inline-block;
	width: 30px;
	height: 30px;
	background: #fafafa;
	border-radius: 50%;
	cursor: pointer;
	box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
	margin-right: 16px;
	text-align: center;
}
.footer_social ul li i
{
	color: #000000;
	line-height: 30px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.footer_social ul li:hover i
{
	color: #0e8ce4;
}
.footer_subtitle
{
	font-size: 12px;
	color: #000000;
}
.footer_column ul:first-of-type
{
	margin-top: 21px;
}
.footer_column ul
{
	margin-top: 7px;
}
.footer_list li
{
	margin-bottom: 6px;
}
.footer_list li a
{
	font-size: 12px;
	font-weight: 500;
	color: rgba(0,0,0,0.4);
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.footer_list li a:hover
{
	color: #0e8ce4;
}
.footer_list_2
{
	margin-top: 42px !important; 
}

.copyright
{
	width: 100%;
	background: #fafafa;
}
.copyright_container
{
	width: 100%;
	height: 56px;
}
.copyright_content
{
	font-size: 12px;
	color: rgba(0,0,0,0.6);
}
.copyright_content span
{
	font-weight: 500;
}
.logos
{
	
}
.logos_list li
{
	display: inline-block;
	margin-right: 16px;
}
.logos_list li:last-child
{
	margin-right: 0px;
}