.store_container {
    background: #FFFFFF;
    padding-top: 80px;
    padding-bottom: 139px;
}

.store_grid {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    column-gap: 50px;
    row-gap: 25px;
}

.store_list {

}

.store_card {
    background-color: white;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
    margin: 5px;
    box-shadow: -20px -20px 0px 0px #0e8ce4;
    border-radius: 10px;
    border: #282828 solid;
}
.store_title {
    margin: 0px;
    padding: 0px 0px 15px 0px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 30px;
    color: #282828;
}
.store_detail {
    margin: 15px 0px 5px 0px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 100;
    letter-spacing: -0.25px;
    line-height: 1.25;
    font-size: 16px;
    word-break: break-all;
    color: #282828;
}

.store_card hr {
    display: block;
    border: none;
    height: 3px;
    background-color: #0e8ce4;
    margin: 0px;
}

.store_map {
    height: 400px;
    width: 100%;
    border: #0e8ce4 solid thin;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
}