.store_container {
    padding-top: 80px;
    padding-bottom: 139px;
}

.store_list {
    max-height: 600px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
}


.store_title {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 30px;
    color: #282828;
}

.store_detail {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 100;
    letter-spacing: -0.25px;
    line-height: 1.5;
    font-size: 16px;
    word-break: break-all;
    color: #282828;
    margin-bottom: 3px;
}

.list-group-item hr {
    display: block;
    border: none;
    background-color: #0e8ce4;
    margin: 0px;
}

.store_map {
    height: 600px;
    width: 100%;
    border: #0e8ce4 solid thin;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
}