@{
    ViewBag.Title = "Pie Chart";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/administration/pie_chart_store_revenue.css" />
</head>
<h2>Store Revenues</h2>
<div class="piechart"></div>

@section Scripts{
    <script src="/js/administration/pie_chart_store_revenue.js"></script>
}